<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Escolha a Especialidade</title>
</head>
<body>
    <h1>Escolha a Especialidade</h1>
    <ul>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Cardiologia')}" th:text="#{login.especialidade.cardiologia}"></a></li>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Dermatologia')}" th:text="#{login.especialidade.dermatologia}"></a></li>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Neurologia')}" th:text="#{login.especialidade.neurologia}"></a></li>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Psiquiatria')}" th:text="#{login.especialidade.psiquiatria}"></a></li>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Endocrinologia')}" th:text="#{login.especialidade.endocrinologia}"></a></li>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Ortopedia')}" th:text="#{login.especialidade.ortopedia}"></a></li>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Oftalmologia')}" th:text="#{login.especialidade.oftalmologia}"></a></li>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Anestesiologia')}" th:text="#{login.especialidade.anestesiologia}"></a></li>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Ginecologia ')}" th:text="#{login.especialidade.ginecologia}"></a></li>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Pediatria')}" th:text="#{login.especialidade.pediatria}"></a></li>
        <li><a th:href="@{/noAutho/listaresp(especialidade='Urologia')}" th:text="#{login.especialidade.urologia}"></a></li>

    </ul>
</body>
</html>
