<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		 <nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{medico.listar.label}"></span>
					</li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/medicos/cadastrar}" role="button"> 
					<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> 
					<span th:text="#{medico.cadastrar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{medico.nome.label}"></th>
							<th th:text="#{medico.email.label}"></th>
							<th th:text="#{medico.CRM.label}"></th>
							<th th:text="#{medico.especialidade.label}"></th>
							<th th:text="#{acao.label}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="medico : ${medicos}">
							<td th:text="${medico.id}"></td>
							<td th:text="${medico.nome}"></td>
							<td th:text="${medico.email}"></td>
							<td th:text="${medico.CRM}"></td>
							<td th:text="${medico.especialidade}"></td>
							<td colspan="2">
								<a class="btn btn-info btn-sm" th:href="@{/medicos/editar/{id} (id=${medico.id}) }"
									role="button"> 
									<span class="oi oi-brush" th:title="#{link.editar.label}" aria-hidden="true"> </span>
								</a>
								<button
									th:id="${'btn_medicos/excluir/' + medico.id}"
									type="button" class="btn btn-danger btn-sm"
									data-toggle="modal" data-target="#myModal">
									<span class="oi oi-circle-x" th:title="#{link.excluir.label}" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div> 
	</section>
</body>
</html>
