<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="${paciente.id == null} ? #{paciente.cadastrar.label} : #{paciente.editar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/pacientes/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{paciente.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

				<form
					th:action="${paciente.id == null} ? @{/pacientes/salvar} : @{/pacientes/editar}"
					th:object="${paciente}" method="POST">

					<div class="form-row">
						<div class="form-group col-md-6">
							<label th:text="#{paciente.email.label}" for="email"></label> 
							<input type="text" class="form-control" id="email"
								th:placeholder="#{paciente.email.label}"
								autofocus="autofocus" th:field="*{email}"
								th:classappend="${#fields.hasErrors('email')} ? is-invalid" />

							<div class="invalid-feedback">
								<span th:errors="*{email}"></span>
							</div>
						</div>

						<!-- trecho removido daqui, tava impedindo a edição: 
							th:readonly="${paciente.id != null}" -->
						<!-- <div class="form-group col-md-6">
							<label th:text="#{paciente.password.label}" for="password"></label> 
							<input type="password" class="form-control" id="password"
								th:placeholder="#{paciente.password.label}" autofocus="autofocus"
								th:field="*{password}"
								th:classappend="${#fields.hasErrors('password')} ? is-invalid" />
								
							<div class="invalid-feedback">
								<span th:errors="*{password}"></span>
							</div>
						</div> -->

						<div th:if="${paciente.id == null}" class="form-group col-md-6">
							<label th:text="#{paciente.password.label}" for="password"></label> 
							<input type="password" class="form-control" id="password"
								th:placeholder="#{paciente.password.label}" autofocus="autofocus"
								th:field="*{password}"
								th:classappend="${#fields.hasErrors('password')} ? is-invalid" />
								
							<div class="invalid-feedback">
								<span th:errors="*{password}"></span>
							</div>
						</div>

						<div th:unless="${paciente.id == null}" class="form-group col-md-6">
							<label th:text="#{paciente.password.label}" for="password"></label> 
							<input type="password" class="form-control" name="novoPassword"
								th:placeholder="#{paciente.password.label}" autofocus="autofocus"
								th:classappend="${#fields.hasErrors('password')} ? is-invalid" />

							<input type="hidden" th:field="*{password}" />
								
							<!-- <div class="invalid-feedback">
								<span th:errors="*{password}"></span>
							</div> -->
						</div>
					</div>
						

					<div class="form-row">

						<div class="form-group col-md-6">
							<label th:text="#{paciente.name.label}" for="nome"></label> 
							<input type="text" class="form-control" id="nome" th:field="*{nome}"
								th:placeholder="#{paciente.name.label}" autofocus="autofocus"
								th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />
								
							<div class="invalid-feedback">
								<span th:errors="*{nome}"></span>
							</div>
						</div>

						<div class="form-group col-md-6">
							<label th:text="#{paciente.CPF.label}" for="CPF"></label> 
							<input type="text" class="form-control" id="CPF" th:field="*{CPF}"
								autofocus="autofocus" placeholder="___.___.___-__"
								th:classappend="${#fields.hasErrors('CPF')} ? is-invalid" 
								data-mask="000.000.000-00" />
								
							<div class="invalid-feedback">
								<span th:errors="*{CPF}"></span>
							</div>
						</div>

					</div>
						

					<div class="form-row">
						<div class="form-group col-md-4">
							<label th:text="#{paciente.telefone.label}" for="telefone"></label> 
							<input type="text" class="form-control" id="telefone" th:field="*{telefone}"
								autofocus="autofocus" placeholder="(__) _____-____"
								th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" 
								data-mask="(00) 00000-0000" />
							<div class="invalid-feedback">
								<span th:errors="*{telefone}"></span>
							</div>
						</div>
					
						<!-- <div class="form-group col-md-4">
							<label th:text="#{paciente.dataNascimento.label}" for="dataNascimento"></label> 
							<input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}"
								autofocus="autofocus" placeholder="__/__/____"
								th:classappend="${#fields.hasErrors('dataNascimento')} ? is-invalid" 
								data-mask="00/00/0000" />
							<div class="invalid-feedback">
								<span th:errors="*{dataNascimento}"></span>
							</div>
						</div> -->

						<div class="form-group col-md-4">
							<label th:text="#{paciente.dataNascimento.label}" for="dataNascimento"></label> 
							<input type="date" class="form-control" id="dataNascimento" th:field="*{dataNascimento}"
								autofocus="autofocus" th:classappend="${#fields.hasErrors('dataNascimento')} ? is-invalid" />
							<div class="invalid-feedback">
								<span th:errors="*{dataNascimento}"></span>
							</div>
						</div>
						
					
						<div class="form-group col-md-4">
							<label th:text="#{paciente.sexo.label}" for="sexo"></label> 
							<br>
							<select id="sexo" name="sexo" required>
								<option value="M" ${paciente.sexo == 'M' ? 'selected' : ''}>Masculino</option>
								<option value="F" ${paciente.sexo == 'F' ? 'selected' : ''}>Feminino</option>
							</select>						
							<div class="invalid-feedback">
								<span th:errors="*{sexo}"></span>
							</div>
						</div>
					</div>

					<input type="hidden" id="role" th:field="*{role}"/>

					<input type="hidden" id="id" th:field="*{id}" />
					<button type="submit" th:text="#{button.salvar.label}"
						class="btn btn-primary btn-sm"></button>
				</form>
			</div>
		</div>
	</section>
</body>
</html>