<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<!-- <span th:text="#{consulta.cadastrar.label}"></span> -->
						<span th:text="${consulta.id == null} ? #{consulta.cadastrar.label} : #{consulta.editar.label}"></span>
					</li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/consultas-paciente/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{consulta.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form 
				th:action="${consulta.id == null} ? @{/consultas-paciente/salvar} : @{/consultas-paciente/editar}"
				th:object="${consulta}" method="POST">

				<!-- <div th:replace="fragments/validacao :: validacao"></div> -->

				<div class="form-row">

					<input type="hidden" id="paciente" name="paciente" th:field="*{paciente}">

					<div class="for col-md-4">
						<label th:text="#{consulta.select-medico.label}" for="medico"></label>
						<br>
						<select class="form-control" id="medico" name="medico" required>
							<!-- <option></option> -->
							<option value="" disable>Selecione um médico.</option>
							<option th:each="medico : ${medicos}" th:value="${medico.id}" th:text="${medico.nome + ' - ' + medico.especialidade}"></option>
						</select>

						<!-- <input type="hidden" id="medico" name="medico" value="3"> -->
						<!-- tem muita coisa faltando aqui, tem que lembrar de arrumar -->

						<div class="invalid-feedback">
							<span th:errors="*{medico}"></span>
						</div>
					</div>

					<div class="form-group col-md-4">
						<label th:text="#{consulta.data.label}" for="dataConsulta"></label>
						<input type="date" class="form-control" id="dataConsulta" th:field="*{dataConsulta}"
							autofocus="autofocus" th:classappend="${#fields.hasErrors('dataConsulta')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{dataConsulta}"></span>
						</div>	
					</div>

					<div class="form-group col-md-4">
						<label th:text="#{consulta.hora.label}" for="horaConsulta"></label>
						<!-- <input type="time" class="form-control" id="horaConsulta" th:field="*{horaConsulta}"
						autofocus="autofocus" th:classappend="${#fields.hasErrors('horaConsulta')} ? is-invalid" step="1800" /> -->

						<select class="form-control" id="horaConsulta" name="horaConsulta" required>
							<option value="" disable>Selecione um horário.</option>

							<!-- Gerar as opções de horário de meia em meia hora -->
							<!-- Das 08:00 às 18:30 -->
							<script>
								// Defina os horários de início e fim permitidos
								const startHour = 8;
								const endHour = 18;
								const endMinute = 30;

								// Gere as opções de horário de meia em meia hora dentro do intervalo permitido
								for (let hour = startHour; hour <= endHour; hour++) {
									for (let minute = 0; minute <= 30; minute += 30) {
										const formattedHour = String(hour).padStart(2, '0');
										const formattedMinute = String(minute).padStart(2, '0');
										const optionText = `${formattedHour}:${formattedMinute}`;
										const optionValue = `${formattedHour}:${formattedMinute}`;

										document.write(`<option value="${optionValue}">${optionText}</option>`);
									}
								}
							</script>
						</select>

						<div class="invalid-feedback">
							<span th:errors="*{horaConsulta}"></span>
						</div>	
					</div>

				</div>				
			
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>
